<div class="demo__item">

    <app-accordion [openState]="false" name="Наименование">
        <div>12345</div>
        <div>12345</div>
        <div>12345</div>
        <div>12345</div>
        <div>12345</div>
        <div>12345</div>
        <div>12345</div>
        <div>12345</div>
    </app-accordion>

    <app-accordion [openState]="false" name="Наименование">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste tempora soluta quae molestiae quia nobis ullam excepturi explicabo. 
            Doloremque ipsa beatae dolor asperiores saepe! Placeat, fugit numquam atque consectetur eligendi vero cumque eum ipsum soluta adipisci 
            nesciunt? Enim, magni. Nobis exercitationem voluptatem dolorum similique, dolore iusto accusamus possimus! Ut qui cupiditate quos incidunt
             veritatis id perspiciatis libero rerum aut, obcaecati harum ex odit laudantium praesentium assumenda? Autem labore possimus sunt qui et 
             voluptates ad veniam odio dolore perferendis magnam sint, commodi recusandae pariatur corporis consequatur alias perspiciatis ea 
             quibusdam. Modi numquam reprehenderit asperiores assumenda quas, rerum quasi fugiat ducimus repudiandae similique soluta cupiditate, 
             facilis distinctio laboriosam. Dolores ab quae dolor illum aperiam sunt optio laboriosam atque nemo laborum. Aliquid asperiores, 
             excepturi ut repudiandae totam magni reprehenderit earum quibusdam iste. Aliquid commodi error nostrum sapiente corporis placeat 
             nisi saepe quos maxime consequuntur magni earum culpa ab numquam provident, nesciunt omnis reiciendis neque. Aspernatur culpa ad
              necessitatibus! Aut ducimus omnis natus officia ullam commodi sed, magni impedit. Labore velit deleniti quos tempora, illo 
              laboriosam ad nemo sed odio dignissimos quibusdam deserunt consequuntur dolores inventore iste rerum cum maxime aliquid earum ea? 
              Numquam consectetur sequi ipsum! Pariatur consequatur quibusdam quos perferendis molestias?
        </div>
    </app-accordion>
</div>