<label 
    class="ngx-toggle"
    [class.ngx-toggle--checked]="model"
    [matTooltip]="tooltip ? tooltip : ''"
    [matTooltipDisabled]="!tooltip"
    lazyTransition
>
    <input 
        class="ngx-toggle__input visually-hidden" 
        type="checkbox" 
        [disabled]="disabled ? disabled : false" 
        [required]="required ? required : false" 
        [(ngModel)]="model" 
        (ngModelChange)="updateModel($event)"
    >
    <div class="ngx-toggle__container" [class.ngx-toggle__container--onlyBox]="!textRef.hasChildNodes()">
        <span class="ngx-toggle__text font-basic" #textRef>
            <ng-content></ng-content>
        </span>
        <div class="ngx-toggle__box">
            <div class="ngx-toggle__circle"></div>
        </div>
    </div>
</label>