<div class="demo__item">
    <h2 class="demo__title">Ngx List Item</h2>
    <div class="demo__content">
        <div class="demo__row">
            <div class="demo__col demo__col--field">
                <h3 class="demo__fieldTitle">Text</h3>
            </div>
            <div class="demo__col">
                <ngx-list-item text="Text"></ngx-list-item>
            </div>

            <div class="demo__col">
                <ngx-list-item text="Text" [disabled]="true"></ngx-list-item>
            </div>
        </div>
        <div class="demo__row">
            <div class="demo__col demo__col--field">
                <h3 class="demo__fieldTitle">Text + shortcut</h3>
            </div>
            <div class="demo__col">
                <ngx-list-item text="Text" shortcut="shortcut"></ngx-list-item>
            </div>

            <div class="demo__col">
                <ngx-list-item text="Text" shortcut="shortcut" [disabled]="true"></ngx-list-item>
            </div>
        </div>
        <div class="demo__row">
            <div class="demo__col demo__col--field">
                <h3 class="demo__fieldTitle">Icon + text</h3>
            </div>
            <div class="demo__col">
                <ngx-list-item icon="ngx-search-20" text="Text"></ngx-list-item>
            </div>

            <div class="demo__col">
                <ngx-list-item icon="ngx-search-20" text="Text" [disabled]="true"></ngx-list-item>
            </div>
        </div>
        <div class="demo__row">
            <div class="demo__col demo__col--field">
                <h3 class="demo__fieldTitle">Icon + text + shortcut</h3>
            </div>
            <div class="demo__col">
                <ngx-list-item icon="ngx-search-20" text="Text" shortcut="shortcut"></ngx-list-item>
            </div>

            <div class="demo__col">
                <ngx-list-item icon="ngx-search-20" text="Text" shortcut="shortcut" [disabled]="true"></ngx-list-item>
            </div>
        </div>
        <div class="demo__row">
            <div class="demo__col demo__col--field">
                <h3 class="demo__fieldTitle">Icon + text + chevron</h3>
            </div>
            <div class="demo__col">
                <ngx-list-item icon="ngx-search-20" text="Text" [chevron]="true"></ngx-list-item>
            </div>

            <div class="demo__col">
                <ngx-list-item icon="ngx-search-20" text="Text" [chevron]="true" [disabled]="true"></ngx-list-item>
            </div>
        </div>
        <div class="demo__row">
            <div class="demo__col demo__col--field">
                <h3 class="demo__fieldTitle">Picture + text</h3>
            </div>
            <div class="demo__col">
                <ngx-list-item picture="iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEYSURBVEhL7ZXdDYIwEMevDQM4giO4gY7gBjqCvugj8gT0BTdwFdjAERxBB5B610IAKW1JIPHBX9IPCr3r/XvhGNhI0y32IbYlMLZQazakjOB8vlRPimEHSXIAzjPclON4h7J8VW/MMBb6OxBij/0NN10hCCI4Hp/6hQUhpMkBr8YuUu6wf3gbt9B3IMQKT77BWWM8TS8Qx7Q2PB/AFMFK9e93rkaC9OVcGxqae0OXS3pmmTtr2tAeiuiLfgR1Ora1n1iiPpNKRKeicMfiLZGJv0RO/hLNyY84oPBNzQP/CKiyUUHRrfnTOhgjUaGqla5YhV5yM/sddGuyTrM15vdGSVFD+a5lqU9u/6ZVl7sOPC/OyelU2QX4AAjBpa3zj4AJAAAAAElFTkSuQmCC" text="Text"></ngx-list-item>
            </div>

            <div class="demo__col">
                <ngx-list-item picture="iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEYSURBVEhL7ZXdDYIwEMevDQM4giO4gY7gBjqCvugj8gT0BTdwFdjAERxBB5B610IAKW1JIPHBX9IPCr3r/XvhGNhI0y32IbYlMLZQazakjOB8vlRPimEHSXIAzjPclON4h7J8VW/MMBb6OxBij/0NN10hCCI4Hp/6hQUhpMkBr8YuUu6wf3gbt9B3IMQKT77BWWM8TS8Qx7Q2PB/AFMFK9e93rkaC9OVcGxqae0OXS3pmmTtr2tAeiuiLfgR1Ora1n1iiPpNKRKeicMfiLZGJv0RO/hLNyY84oPBNzQP/CKiyUUHRrfnTOhgjUaGqla5YhV5yM/sddGuyTrM15vdGSVFD+a5lqU9u/6ZVl7sOPC/OyelU2QX4AAjBpa3zj4AJAAAAAElFTkSuQmCC" text="Text" [disabled]="true"></ngx-list-item>
            </div>
        </div>
    </div>
</div>