<div 
    *ngIf="rightClickOpen" 
    [matContextMenuTriggerFor]="childMenu" 
    class="ngx-context-mat-dropdown" 
    (click)="onDropdownButtonClick($event)"
	(menuOpened)="onMenuOpened()"
	(menuClosed)="onMenuClosed()"
    role="button"
>
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</div>

<div 
    *ngIf="!rightClickOpen" 
    [matMenuTriggerFor]="childMenu" 
    class="ngx-context-mat-dropdown" 
    (click)="onDropdownButtonClick($event)"
    (menuOpened)="onMenuOpened()"
	(menuClosed)="onMenuClosed()"
    role="button"
>
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</div>

<ng-template #contentTpl>
    <ng-content></ng-content>
</ng-template>

<mat-menu 
	class="ngx-context-mat-menu" 
	#childMenu="matMenu" 
	[overlapTrigger]="false" 
    overlayPanelClass="ngx-context-mat-menu-overlay"
	backdropClass="ngx-context-mat-menu-backdrop"
>
	<ng-container *ngFor="let item of fillIconSpace(items)">
        <ng-container *ngIf="item.children && item.children.length > 0">
            <div mat-menu-item [matMenuTriggerFor]="menu.childMenu" [class.border-bottom]="item.borderBottom">
                <ngx-list-item [params]="item" [chevron]="true"></ngx-list-item>
            </div>
            <ngx-context-menu #menu [items]="item.children"></ngx-context-menu>
        </ng-container>

        <ng-container *ngIf="!item.children || item.children.length === 0">
            <div mat-menu-item [class.border-bottom]="item.borderBottom">
                <ngx-list-item [params]="item"></ngx-list-item>
            </div>
        </ng-container>
	</ng-container>
</mat-menu>