.ngx-tabs {

    // .ngx-tabs__list

    &__list {
        display: flex;
    }

    // .ngx-tabs__tab

    &__tab {
        padding: 4px;
        cursor: pointer;
        border: 1px solid var(--gray-600);
    }

    // .ngx-tabs__content

    &__content {

    }
}