<section class="demo">
    <div class="demo__inner">

        <div class="demo__item">

            <app-accordion [openState]="false" name="Наименование">
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
            </app-accordion>

            <app-accordion [openState]="false" name="Наименование">
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste tempora soluta quae molestiae quia nobis ullam excepturi explicabo. 
                    Doloremque ipsa beatae dolor asperiores saepe! Placeat, fugit numquam atque consectetur eligendi vero cumque eum ipsum soluta adipisci 
                    nesciunt? Enim, magni. Nobis exercitationem voluptatem dolorum similique, dolore iusto accusamus possimus! Ut qui cupiditate quos incidunt
                     veritatis id perspiciatis libero rerum aut, obcaecati harum ex odit laudantium praesentium assumenda? Autem labore possimus sunt qui et 
                     voluptates ad veniam odio dolore perferendis magnam sint, commodi recusandae pariatur corporis consequatur alias perspiciatis ea 
                     quibusdam. Modi numquam reprehenderit asperiores assumenda quas, rerum quasi fugiat ducimus repudiandae similique soluta cupiditate, 
                     facilis distinctio laboriosam. Dolores ab quae dolor illum aperiam sunt optio laboriosam atque nemo laborum. Aliquid asperiores, 
                     excepturi ut repudiandae totam magni reprehenderit earum quibusdam iste. Aliquid commodi error nostrum sapiente corporis placeat 
                     nisi saepe quos maxime consequuntur magni earum culpa ab numquam provident, nesciunt omnis reiciendis neque. Aspernatur culpa ad
                      necessitatibus! Aut ducimus omnis natus officia ullam commodi sed, magni impedit. Labore velit deleniti quos tempora, illo 
                      laboriosam ad nemo sed odio dignissimos quibusdam deserunt consequuntur dolores inventore iste rerum cum maxime aliquid earum ea? 
                      Numquam consectetur sequi ipsum! Pariatur consequatur quibusdam quos perferendis molestias?
                </div>
            </app-accordion>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx Tabs</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <ngx-tabs>
                        <ngx-tab caption="Вкладка 1">Контент 1</ngx-tab>
                        <ngx-tab caption="Вкладка 2">Контент 2</ngx-tab>
                        <ngx-tab caption="Вкладка 3">Контент 3</ngx-tab>
                        <ngx-tab caption="Отмечена" [marked]="true">Контент 4</ngx-tab>
                        <ngx-tab caption="Выключена" [disabled]="true">Контент 6</ngx-tab>
                    </ngx-tabs>
                </div>
            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx Tree View</h2>
            <div class="demo__content">
                <div class="demo__row" style="max-width: 250px">
                    <ngx-button (onClick)="toggleTreeView()" type="primary">expand/collapse</ngx-button>
                </div>
                <div class="demo__row" style="max-width: 250px;">
                    <ngx-tree-view #treeViewRef [dataSource]="treeViewDataSource" [hasFilter]="true" (onSelect)="treeViewSelectItem($event)"></ngx-tree-view>
                </div>
                <hr>
                <div class="demo__row" style="max-width: 250px;">
                    <ngx-tree-view [dataSource]="treeViewDataSource2"></ngx-tree-view>
                </div>
            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx Tile View</h2>
            <div class="demo__content">
                <div class="demo__row" style="max-width: 250px;">
                    <ngx-tile-view [dataSource]="treeViewDataSourceTile"></ngx-tile-view>
                </div>
            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx Buttons</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-search-20" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-search-20" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Border Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="secondary" icon="ngx-search-20" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="secondary" icon="ngx-search-20" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon+Text Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-search-20" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-search-20" [disabled]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Text Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button [disabled]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Text Color Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="text-color" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="text-color" [disabled]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Text Base Color Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" [disabled]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Danger Color Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="danger" (onClick)="buttonClicked()">Delete</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="danger" [disabled]="true" (onClick)="buttonClicked()">Delete</ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon+Text Color Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" icon="ngx-search-20" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" icon="ngx-search-20" [disabled]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon+Text Color Button Width</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" [width]="200"  icon="ngx-search-20" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" [width]="200" icon="ngx-search-20" [disabled]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Border Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="secondary" tooltip="Подсказка" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="secondary" [disabled]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Button Small</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="small" icon="ngx-star-16" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="small" icon="ngx-star-16" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Colored Button Small</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="small" icon="ngx-star-fill-16" iconColor="teal-700" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="small" icon="ngx-star-fill-16" iconColor="teal-700" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Button Small Close</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="small-close" icon="ngx-dismiss-16" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="small-close" icon="ngx-dismiss-16" [disabled]="true" (onClick)="buttonClicked()">
                        </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Button Tile</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="tile" icon="ngx-close-20" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="tile" icon="ngx-close-20" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Button Tile Close</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="tile-close" icon="ngx-close-20" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="tile-close" icon="ngx-close-20" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Reverse Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-chevron-20" [iconReverse]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-chevron-20" [iconReverse]="true" [disabled]="true" (onClick)="buttonClicked()">
                        </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon+Text Button with chevron</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-search-20" [chevron]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-search-20" [chevron]="true" [disabled]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Text Button with chevron</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button [chevron]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button [chevron]="true" [disabled]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Border Button  with chevron</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="secondary" [chevron]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="secondary" [chevron]="true" [disabled]="true" (onClick)="buttonClicked()">Action</ngx-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx Tag</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Basic</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-tag>Tag</ngx-tag>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Basic with close functionality</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-tag *ngIf="isTagShown" (onClose)="isTagShown = false;">Tag</ngx-tag>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Basic text-overflow</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-tag>Tag with some one loooooong text</ngx-tag>
                    </div>
                </div>
            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx List Item</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Text</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-list-item text="Text"></ngx-list-item>
                    </div>

                    <div class="demo__col">
                        <ngx-list-item text="Text" [disabled]="true"></ngx-list-item>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Text + shortcut</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-list-item text="Text" shortcut="shortcut"></ngx-list-item>
                    </div>

                    <div class="demo__col">
                        <ngx-list-item text="Text" shortcut="shortcut" [disabled]="true"></ngx-list-item>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon + text</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-list-item icon="ngx-search-20" text="Text"></ngx-list-item>
                    </div>

                    <div class="demo__col">
                        <ngx-list-item icon="ngx-search-20" text="Text" [disabled]="true"></ngx-list-item>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon + text + shortcut</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-list-item icon="ngx-search-20" text="Text" shortcut="shortcut"></ngx-list-item>
                    </div>

                    <div class="demo__col">
                        <ngx-list-item icon="ngx-search-20" text="Text" shortcut="shortcut" [disabled]="true"></ngx-list-item>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon + text + chevron</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-list-item icon="ngx-search-20" text="Text" [chevron]="true"></ngx-list-item>
                    </div>

                    <div class="demo__col">
                        <ngx-list-item icon="ngx-search-20" text="Text" [chevron]="true" [disabled]="true"></ngx-list-item>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Picture + text</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-list-item picture="iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEYSURBVEhL7ZXdDYIwEMevDQM4giO4gY7gBjqCvugj8gT0BTdwFdjAERxBB5B610IAKW1JIPHBX9IPCr3r/XvhGNhI0y32IbYlMLZQazakjOB8vlRPimEHSXIAzjPclON4h7J8VW/MMBb6OxBij/0NN10hCCI4Hp/6hQUhpMkBr8YuUu6wf3gbt9B3IMQKT77BWWM8TS8Qx7Q2PB/AFMFK9e93rkaC9OVcGxqae0OXS3pmmTtr2tAeiuiLfgR1Ora1n1iiPpNKRKeicMfiLZGJv0RO/hLNyY84oPBNzQP/CKiyUUHRrfnTOhgjUaGqla5YhV5yM/sddGuyTrM15vdGSVFD+a5lqU9u/6ZVl7sOPC/OyelU2QX4AAjBpa3zj4AJAAAAAElFTkSuQmCC" text="Text"></ngx-list-item>
                    </div>

                    <div class="demo__col">
                        <ngx-list-item picture="iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEYSURBVEhL7ZXdDYIwEMevDQM4giO4gY7gBjqCvugj8gT0BTdwFdjAERxBB5B610IAKW1JIPHBX9IPCr3r/XvhGNhI0y32IbYlMLZQazakjOB8vlRPimEHSXIAzjPclON4h7J8VW/MMBb6OxBij/0NN10hCCI4Hp/6hQUhpMkBr8YuUu6wf3gbt9B3IMQKT77BWWM8TS8Qx7Q2PB/AFMFK9e93rkaC9OVcGxqae0OXS3pmmTtr2tAeiuiLfgR1Ora1n1iiPpNKRKeicMfiLZGJv0RO/hLNyY84oPBNzQP/CKiyUUHRrfnTOhgjUaGqla5YhV5yM/sddGuyTrM15vdGSVFD+a5lqU9u/6ZVl7sOPC/OyelU2QX4AAjBpa3zj4AJAAAAAElFTkSuQmCC" text="Text" [disabled]="true"></ngx-list-item>
                    </div>
                </div>
            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Dropdown</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">On Click</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-context-menu [items]="contextMenuData" (onChangeState)="dropdownClickStatus = $event">
                            <ngx-button type="secondary" [chevron]="true" [chevronReverse]="dropdownClickStatus">Action</ngx-button>
                        </ngx-context-menu>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">On Right Click</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-context-menu [items]="contextMenuData" (onChangeState)="dropdownRightClickStatus = $event" [rightClickOpen]="true">
                            <ngx-button type="secondary" [chevron]="true" [chevronReverse]="dropdownRightClickStatus">Action</ngx-button>
                        </ngx-context-menu>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Context menu width by targetElement</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-context-menu [items]="contextMenuData" (onChangeState)="dropdownLongClickStatus = $event">
                            <ngx-button #menuTriggerEl type="secondary" [chevron]="true" [chevronReverse]="dropdownLongClickStatus">Context menu width by targetElement</ngx-button>
                        </ngx-context-menu>
                    </div>
                </div>
            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx TextBox</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">TextBox</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-textbox [(ngModel)]="textBoxValue"></ngx-textbox>
                    </div>
                    <div class="demo__col">
                        <p>Значение: {{ textBoxValue }}</p>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">TextBox disabled</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-textbox [disabled]="true" [(ngModel)]="textBoxValue"></ngx-textbox>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">TextBox placeholder</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-textbox placeholder="Введите текст"></ngx-textbox>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">TextBox custom width</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-textbox [width]="350" [(ngModel)]="textBoxValue"></ngx-textbox>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">TextBox icon start</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-textbox placeholder="Найти что-то" iconStart="ngx-search-20"></ngx-textbox>
                    </div>
                </div>
                
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">TextBox simple value</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-textbox iconStart="ngx-search-20" value="Дефолтное значение"></ngx-textbox>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">TextBox custom button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-textbox btnIcon="ngx-arrow-right-16" (onBtnClick)="textBoxBtnClick()"></ngx-textbox>
                    </div>
                </div>

            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx Checkbox</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Checkbox</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-checkbox [(ngModel)]="checkBoxValue" [indeterminate]="isIndeterminate">Проверка</ngx-checkbox>
                    </div>
                    <div class="demo__col">
                        {{ checkBoxValue }}
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" (onClick)="isIndeterminate = !isIndeterminate">indeterminate: {{ isIndeterminate }}</ngx-button>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Checkbox disabled</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-checkbox [disabled]="true">Я выключен</ngx-checkbox>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Checkbox disabled checked</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-checkbox [(ngModel)]="checkBoxDisabled" [disabled]="true">Я выключен и отмечен</ngx-checkbox>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Checkbox checked basic value</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-checkbox [checked]="true">Я включен базово (не через модель)</ngx-checkbox>
                    </div>
                </div>
            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx Toggle</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Toggle</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-toggle [(ngModel)]="toggleValue"></ngx-toggle>
                    </div>
                    <div class="demo__col">
                        {{ toggleValue }}
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Toggle with value</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-toggle [(ngModel)]="toggleValue">Уведомления</ngx-toggle>
                    </div>
                    <div class="demo__col">
                        {{ toggleValue }}
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Toggle with value checked disabled</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-toggle [checked]="true" [disabled]="true">Уведомления</ngx-toggle>
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Toggle with value unchecked disabled</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-toggle [checked]="false" [disabled]="true">Уведомления</ngx-toggle>
                    </div>
                </div>
            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx RadioButton</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">RadioButton</h3>
                    </div>
                    <div class="demo__col">
                        <ng-container *ngFor="let color of radioButtonList">
                            <ngx-radio-button [(ngModel)]="radioButtonValue" [value]="color">{{ color }}</ngx-radio-button>
                        </ng-container>
                    </div>
                    <div class="demo__col">
                        {{ radioButtonValue }}
                    </div>
                </div>
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">RadioButton another</h3>
                    </div>
                    <div class="demo__col">
                        <ng-container *ngFor="let color of radioButtonNewList">
                            <ngx-radio-button [(ngModel)]="radioButtonNewValue" [value]="color">{{ color }}</ngx-radio-button>
                        </ng-container>
                    </div>
                    <div class="demo__col">
                        {{ radioButtonNewValue }}
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">RadioButton disabled</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-radio-button [disabled]="true">Я выключен</ngx-radio-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">RadioButton disabled checked</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-radio-button [disabled]="true" [(ngModel)]="radioButtonValue" [value]="radioButtonValue">Я выключен и отмечен</ngx-radio-button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
