<section class="demo">
    <div class="demo__inner">
        <div class="demo__item">
            <select-box [(ngModel)]="selectBoxValue"></select-box>
            <p>Значение: {{ selectBoxValue }}</p>
        </div>
        <div class="demo__item">
            <ngx-tabs>
                <ngx-tab name="Вкладка 1">Контент 1</ngx-tab>
                <ngx-tab name="Вкладка 2">Контент 2</ngx-tab>
                <ngx-tab name="Вкладка 3">Контент 3</ngx-tab>
            </ngx-tabs>
        </div>
        <div class="demo__item">

            <app-accordion [openState]="false" name="Наименование">
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
                <div>12345</div>
            </app-accordion>

            <app-accordion [openState]="false" name="Наименование">
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste tempora soluta quae molestiae quia nobis ullam excepturi explicabo. 
                    Doloremque ipsa beatae dolor asperiores saepe! Placeat, fugit numquam atque consectetur eligendi vero cumque eum ipsum soluta adipisci 
                    nesciunt? Enim, magni. Nobis exercitationem voluptatem dolorum similique, dolore iusto accusamus possimus! Ut qui cupiditate quos incidunt
                     veritatis id perspiciatis libero rerum aut, obcaecati harum ex odit laudantium praesentium assumenda? Autem labore possimus sunt qui et 
                     voluptates ad veniam odio dolore perferendis magnam sint, commodi recusandae pariatur corporis consequatur alias perspiciatis ea 
                     quibusdam. Modi numquam reprehenderit asperiores assumenda quas, rerum quasi fugiat ducimus repudiandae similique soluta cupiditate, 
                     facilis distinctio laboriosam. Dolores ab quae dolor illum aperiam sunt optio laboriosam atque nemo laborum. Aliquid asperiores, 
                     excepturi ut repudiandae totam magni reprehenderit earum quibusdam iste. Aliquid commodi error nostrum sapiente corporis placeat 
                     nisi saepe quos maxime consequuntur magni earum culpa ab numquam provident, nesciunt omnis reiciendis neque. Aspernatur culpa ad
                      necessitatibus! Aut ducimus omnis natus officia ullam commodi sed, magni impedit. Labore velit deleniti quos tempora, illo 
                      laboriosam ad nemo sed odio dignissimos quibusdam deserunt consequuntur dolores inventore iste rerum cum maxime aliquid earum ea? 
                      Numquam consectetur sequi ipsum! Pariatur consequatur quibusdam quos perferendis molestias?
                </div>
            </app-accordion>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx Buttons</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-search-20" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-search-20" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Border Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="secondary" icon="ngx-search-20" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="secondary" icon="ngx-search-20" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon+Text Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-search-20" text="Action" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-search-20" text="Action" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Text Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button text="Action" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button text="Action" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Text Color Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="text-color" text="Action" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="text-color" text="Action" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Text Base Color Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" text="Action" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" text="Action" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Danger Color Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="danger" text="Delete" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="danger" text="Delete" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon+Text Color Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" text="Action" icon="ngx-search-20" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" text="Action" icon="ngx-search-20" [disabled]="true" (onClick)="buttonClicked()">
                        </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Border Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="secondary" text="Action" tooltip="Подсказка" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="secondary" text="Action" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Button Small</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="small" icon="ngx-close-16" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="small" icon="ngx-close-16" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Button Small Close</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="small-close" icon="ngx-close-16" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="small-close" icon="ngx-close-16" [disabled]="true" (onClick)="buttonClicked()">
                        </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Button Tile</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="tile" icon="ngx-close-20" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="tile" icon="ngx-close-20" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Button Tile Close</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="tile-close" icon="ngx-close-20" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="tile-close" icon="ngx-close-20" [disabled]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                </div>

                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Icon Reverse Button</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-chevron-20" [iconReverse]="true" (onClick)="buttonClicked()"> </ngx-button>
                    </div>
                    <div class="demo__col">
                        <ngx-button icon="ngx-chevron-20" [iconReverse]="true" [disabled]="true" (onClick)="buttonClicked()">
                        </ngx-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx Checkbox</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">Checkbox</h3>
                    </div>
                    <div class="demo__col">
                        <ngx-checkbox [(ngModel)]="checkBoxValue" [indeterminate]="isIndeterminate">Проверка</ngx-checkbox>
                        {{ checkBoxValue }}
                    </div>
                    <div class="demo__col">
                        <ngx-checkbox [disabled]="true">Я выключен</ngx-checkbox>
                    </div>
                    <div class="demo__col">
                        <ngx-button type="primary" text="change indedeterminate" (onClick)="isIndeterminate = !isIndeterminate"></ngx-button>
                        {{ isIndeterminate }}
                    </div>
                    <div class="demo__col">
                        <ngx-checkbox [(ngModel)]="checkBoxDisabled" [disabled]="true">Я выключен и отмечен</ngx-checkbox>
                    </div>
                </div>

            </div>
        </div>

        <div class="demo__item">
            <h2 class="demo__title">Ngx RadioButton</h2>
            <div class="demo__content">
                <div class="demo__row">
                    <div class="demo__col demo__col--field">
                        <h3 class="demo__fieldTitle">RadioButton</h3>
                    </div>
                    <div class="demo__col">
                        <ng-container *ngFor="let color of radioButtonList">
                            <ngx-radio-button [(ngModel)]="radioButtonValue" [value]="color">{{ color }}</ngx-radio-button>
                        </ng-container>
                        {{ radioButtonValue }}
                    </div>
                    <div class="demo__col">
                        <ngx-radio-button [disabled]="true">Я выключен</ngx-radio-button>
                    </div>
                    <div class="demo__col">
                        <ngx-radio-button [disabled]="true" [(ngModel)]="radioButtonValue" [value]="radioButtonValue">Я выключен и отмечен</ngx-radio-button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
