<div class="demo__item">
    <h2 class="demo__title">Ngx Tabs</h2>
    <div class="demo__content">
        <div class="demo__row">
            <ngx-tabs>
                <ngx-tab caption="Вкладка 1">Контент 1</ngx-tab>
                <ngx-tab caption="Вкладка 2">Контент 2</ngx-tab>
                <ngx-tab caption="Вкладка 3">Контент 3</ngx-tab>
                <ngx-tab caption="Отмечена" [marked]="true">Контент 4</ngx-tab>
                <ngx-tab caption="Выключена" [disabled]="true">Контент 6</ngx-tab>
            </ngx-tabs>
        </div>
    </div>
</div>
