<div class="demo__item">
    <h2 class="demo__title">Ngx Tree View</h2>
    <div class="demo__content">
        <div class="demo__row" style="max-width: 250px">
            <ngx-button (onClick)="toggleTreeView()" type="primary">expand/collapse</ngx-button>
        </div>
        <div class="demo__row" style="max-width: 250px;">
            <ngx-tree-view #treeViewRef [dataSource]="treeViewDataSource" [hasFilter]="true" (onSelect)="treeViewSelectItem($event)"></ngx-tree-view>
        </div>
        <br><br>
        <div class="demo__row" style="max-width: 250px;">
            <ngx-tree-view [dataSource]="treeViewDataSource2"></ngx-tree-view>
        </div>
    </div>
</div>