<button
    class="ngx-list-item"
    [class.ngx-list-item--active]="active"
    [disabled]="disabled ? disabled : false"
    [matTooltip]="tooltip ? tooltip : ''"
    [matTooltipDisabled]="!tooltip"
    (click)="onClick.emit()"
>
    <div class="ngx-list-item__container">
        <div class="ngx-list-item__content">
            <div *ngIf="picture" class="ngx-list-item__picture">
                <img [src]="utilsService.getPictureSrc(picture)" alt="Иконка списка" />
            </div>
            <mat-icon *ngIf="icon" class="ngx-list-item__icon icon-20" [svgIcon]="icon"></mat-icon>
            <span #el class="ngx-list-item__text text-overflow font-basic" [matTooltip]="(el.scrollWidth > el.clientWidth) ? el.innerText : ''">
                {{ text }}
            </span>
            <span *ngIf="shortcut" class="ngx-list-item__shortcut font-basic">{{ shortcut }}</span>
        </div>
        <mat-icon *ngIf="chevron" class="ngx-list-item__chevron icon-16" svgIcon="ngx-chevron-16"></mat-icon>
    </div>
</button>
