<div 
    class="ngx-textbox" 
    [matTooltip]="tooltip ? tooltip : ''" 
    [matTooltipDisabled]="!tooltip" 
    [style.width.px]="width ? width : null"
    lazyTransition
>
    <div class="ngx-textbox__container">
        <input
            class="ngx-textbox__input font-basic"
            [class.inputNotEmpty]="model !== ''"
            [class.inputHasIcon]="iconStart"
            [type]="type"
            [(ngModel)]="model"
            (ngModelChange)="modelChanged$.next($event)"
            [placeholder]="placeholder ? placeholder : ''"
            [disabled]="disabled ? disabled : false" 
            [required]="required ? required : false" 
        />
        <div class="ngx-textbox__content">
            <ng-container *ngIf="iconStart">
                <mat-icon class="ngx-textbox__icon icon-20" [svgIcon]="iconStart"></mat-icon>
            </ng-container>
            <ng-container *ngIf="btnIcon">
                <ngx-button class="ngx-textbox__action" type="small" [icon]="btnIcon" (onClick)="onBtnClick.emit()"></ngx-button>
            </ng-container>
            <ng-container *ngIf="!btnIcon">
                <ngx-button class="ngx-textbox__action ngx-textbox__action--clear" type="small" icon="ngx-dismiss-16" (onClick)="updateModel('')"></ngx-button>
            </ng-container>

            <div class="ngx-textbox__line"></div>
        </div>
    </div>
</div>
