.ngx-base-input {
    display: flex;
    flex-direction: column;
    gap: 3px;

    --bg-color: var(--white);
    --bg-color-hover: var(--gray-25);
    --bg-color-disabled: var(--gray-100);

    --text-color: var(--gray-350);
    --text-color-visible: var(--gray-600);
    --text-color-focused: var(--gray-700);

    --btn-clear-opacity: 0;
    --btn-clear-opacity-visible: 1;

    --btn-clear-pointer: none;
    --btn-clear-pointer-visible: initial;

    --line-color: rgba(0, 0, 0, 0.2);
    --line-color-focused: var(--teal-800);

    --border-color: rgba(0, 0, 0, 0.059);
    
    // hover
    &:hover {
        --bg-color: var(--bg-color-hover);
    }

    // .ngx-base-input__container

    &__container {
        display: flex;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }

    // .ngx-base-input__input

    &__input {
        background-color: var(--bg-color);
        border: 1px solid var(--border-color);
        color: var(--text-color);
        border-radius: 4px;
        margin: 0;
        padding: 6px 38px 6px 12px;
        outline: none;
        transition: var(--transition);
        width: 100%;

        // .ngx-base-input__input--textarea

        &--textarea {
            resize: none;

            &.autoresize {
                transition: unset;
                padding: 7px 38px 7px 12px;
            }
        }

        // когда поле не пустое
        &.inputNotEmpty, &.inputNotEmpty ~ .ngx-base-input__content {
            &:not(:disabled) {
                --text-color: var(--text-color-visible);
            }
        }

        // focus && active
        &:focus, &:focus ~ .ngx-base-input__content {
            &:not(:disabled) {
                --bg-color: var(--bg-color);
                --line-color: var(--line-color-focused);
                --text-color: var(--text-color-focused);
            }
        }

        // когда поле не disabled, в фокусе и когда оно не пустое - показываем кнопку очистки
        &:focus, &.inputNotEmpty {
            &:not(:disabled) {
                ~ .ngx-base-input__content {
                    --btn-clear-pointer: var(--btn-clear-pointer-visible);
                    --btn-clear-opacity: var(--btn-clear-opacity-visible);
                }
            }
        }

        &.inputHasIcon {
            padding-left: 38px;
        }

        &.hasError {
            --border-color: var(--alert-red);

            &:not(:disabled) {
                ~ .ngx-base-input__content {
                    --line-color: var(--alert-red);
                }
            }
        }

        // disabled
        &:disabled, &:disabled ~ .ngx-base-input__content {
            --border-color: rgba(0, 0, 0, 0.059);
            --bg-color: var(--bg-color-disabled);
        }

    }

    // .ngx-base-input__action

    &__action {
        position: absolute;
        right: 12px;
        top: 5px;
        transition: var(--transition);
        //top: 50%;
        //transform: translateY(-50%);

        // .ngx-base-input__action--clear

        &--clear {
            opacity: var(--btn-clear-opacity);
            pointer-events: var(--btn-clear-pointer);
        }
    }

    // .ngx-base-input__line

    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--line-color);
        transition: var(--transition);
    }

    // .ngx-base-input__icon

    &__icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: var(--transition);
        color: var(--text-color);
    }

    // .ngx-base-input__label

    &__label {
        color: var(--gray-450);
    }

    // .ngx-base-input__error

    &__error {
        color: var(--alert-red);
    }
}