<label 
    class="ngx-checkbox"
    [class.ngx-checkbox--checked]="model"
    [class.ngx-checkbox--indeterminate]="indeterminate"
    [matTooltip]="tooltip ? tooltip : ''"
    [matTooltipDisabled]="!tooltip"
>
    <input 
        class="ngx-checkbox__input visually-hidden" 
        [class.indeterminate]="indeterminate"
        type="checkbox" 
        [disabled]="disabled ? disabled : false" 
        [required]="required ? required : false" 
        [(ngModel)]="model" 
        (ngModelChange)="updateChanges()"
    >
    <div class="ngx-checkbox__container">
        <div class="ngx-checkbox__box">
            <mat-icon class="ngx-checkbox__icon icon-20" [class.visible]="model && !indeterminate" svgIcon="ngx-checkmark-20"></mat-icon>
            <mat-icon class="ngx-checkbox__icon icon-20" [class.visible]="indeterminate" svgIcon="ngx-dash-20"></mat-icon>
        </div>
        <span class="ngx-checkbox__text font-basic">
            <ng-content></ng-content>
        </span>
    </div>
</label>