<button
    [class]="hostClassName"
    (click)="onClick.emit($event)"
    [disabled]="disabled ? disabled : false"
    [matTooltip]="tooltip ? tooltip : ''"
    [matTooltipDisabled]="!tooltip"
>
    <!-- отнимаем 6 так как есть внешний невидимый отступ -->
    <div class="ngx-button__container" [style.width.px]="width ? width - 6 : null" [class.ngx-button__container--iconOnly]="icon && !textRef.hasChildNodes()">
        <div class="ngx-button__content">
            <mat-icon *ngIf="icon" [svgIcon]="icon" class="ngx-button__icon icon-20" [class.ngx-button__icon--reverse]="iconReverse">
                {{ icon }}
            </mat-icon>
            <span class="ngx-button__text" #textRef>
                <ng-content></ng-content>
            </span>
        </div>
    </div>
</button>
