<button 
    [class]="hostClassName"
    (click)="onClick.emit($event)" 
    [disabled]="disabled ? disabled : false" 
    [style.width]="width"

    [matTooltip]="tooltip ? tooltip : ''"
    [matTooltipDisabled]="!tooltip"
>
    <div class="ngx-button__container" [class.ngx-button__container--iconOnly]="icon && !text">
        <div class="ngx-button__content">
            <mat-icon 
                *ngIf="icon" 
                [svgIcon]="icon"
                class="ngx-button__icon icon-20"
                [class.ngx-button__icon--reverse]="iconReverse"
            >
                {{ icon }}
            </mat-icon>
            <span class="ngx-button__text" *ngIf="text">{{ text }}</span>
        </div>
    </div>
</button>