<button
    [class]="hostClassName"
    (click)="onClick.emit($event)"
    [disabled]="disabled ? disabled : false"
    [matTooltip]="tooltip ? tooltip : ''"
    [matTooltipDisabled]="!tooltip"
    [style.width]="width ? width + 'px' : expand ? '100%' : null"
    lazyTransition
>
    <div
        class="ngx-button__container"
        [class.ngx-button__container--iconOnly]="icon && !textRef.hasChildNodes()"
    >
        <div class="ngx-button__content">
            <mat-icon
                *ngIf="icon"
                [attr.style]="iconColor ? '--text-color: var(--' + iconColor + ');' : null"
                [svgIcon]="icon"
                class="ngx-button__icon icon-20"
                [class.ngx-button__icon--reverse]="iconReverse"
            >
            </mat-icon>
            <span class="ngx-button__text" #textRef>
                <ng-content></ng-content>
            </span>
            <mat-icon
                *ngIf="chevron"
                svgIcon="ngx-chevron-16"
                class="ngx-button__chevron icon-16"
                [class.ngx-button__chevron--reverse]="chevronReverse"
            >
            </mat-icon>
        </div>
    </div>
</button>
