:host {
    display: inline-block;
}

.ngx-tag {
    --bg-color: var(--teal-700);
    --bg-color-hover: var(--teal-900);
    --bg-color-pressed: var(--teal-1000);

    --close-color: rgba(255, 255, 255, 0.7);
    --close-color-active: var(--white);

    --text-color: var(--white);
    --transition: 0.3s ease-in-out;

    position: relative;
    margin: 4px;

    &:hover {
        --bg-color: var(--bg-color-hover);
        --close-color: var(--close-color-active);
    }

    // .ngx-tag__container

    &__container {
        display: flex;
        background-color: var(--bg-color);
        transition: var(--transition);
        padding: 1px 32px 3px 8px;
        border-radius: 2px;
        max-width: 200px;
    }

    // .ngx-tag__close

    &__close {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        color: var(--close-color);
        transition: var(--transition);

        position: absolute;
        top: 2px;
        right: 2px;

        // pressed
        &:active {
            ~.ngx-tag__container {
                --bg-color: var(--bg-color-pressed);
            }
        }
    }

    // .ngx-tag__text

    &__text {
        color: var(--text-color);
    }
}