<div class="portfolio-card">
    <div class="portfolio-card__header">
        <h3 class="portfolio-card__title">
            <a class="portfolio-card__link font-head-18" [href]="data.link" target="_blank">{{ data.name }}</a>
        </h3>
        <span class="font-basic">{{ data.date }}</span>
    </div>

    <div class="portfolio-card__body">
        <picture class="portfolio-card__picture">
            <source [srcset]="data.pictureWebpMin" type="image/webp" />
            <img class="portfolio-card__img" [src]="data.picturePngMin" />
        </picture>
        <p class="portfolio-card__description font-basic">{{ data.description }}</p>
    </div>
</div>
