.portfolio-card {

    // .portfolio-card__header

    &__header {
        margin-bottom: 12px;
    }

    // .portfolio-card__title

    &__title {
    }

    // .portfolio-card__link

    &__link {
        color: var(--link);
        text-decoration: none;
        transition: 0.3s ease-in-out;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom-color: var(--link);
        }
    }

    // .portfolio-card__body

    &__body {
    }

    // .portfolio-card__picture

    &__picture {
        display: flex;
        margin-bottom: 16px;
    }

    // .portfolio-card__img

    &__img {
        max-width: 100%;
    }

    // .portfolio-card__description

    &__description {
    }
}
